body {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

h1 {
  font-family: monospace;
  font-size: 35px;
  color: rgb(9, 28, 65);
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(123, 145, 207);
  font-family: monospace;
  font-size: 1rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(189, 205, 249);
}

th,
td {
  border: 1px solid rgb(234, 249, 255);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(236, 240, 255);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

button {
  background: rgb(189, 205, 249);
  font-family: monospace;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 8px 20px;
}
