h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-stroke: 2px rgb(95, 7, 7);
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  text-align: center;
}

body {
  background-color: rgb(255, 230, 233);
  transition: background-color 1s ease-in-out;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#netflixButton {
  border: solid 3px rgb(95, 7, 7);
  border-radius: 30px;
  padding: 15px 70px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(rgb(95, 7, 7), rgb(95, 7, 7));
  background-size: 0% 100%;
  background-position: left;
  background-repeat: no-repeat;
  animation: fillButton 5s linear forwards;
}

#netflixButton:hover {
  border: 2px solid rgb(255, 230, 233);
  outline: 3px solid rgb(130, 21, 21);
}

#netflixButton.filled {
  background-size: 100% 100%;
}

.hidden {
  display: none;
}

@keyframes fillButton {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
