button {
  padding: 10px 23px;
  border-radius: 20px;
  background-color: rgb(188, 138, 211);
  border: none;
  color: rgb(253, 233, 237);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: rgb(58, 2, 58);
  text-decoration: none;
}

body {
  text-decoration: none;
  background-color: pink;
  font-family: monospace;
  font-size: 20px;
  color: rgb(70, 4, 70);
}

h1 {
  align-items: center;
  display: flex;
}

a {
  color: rgb(65, 6, 99);
}
